$background: #fff;
$text: #000;

$banner: #080808;
$bannerText: #e0e0e0;

$menu: #27272b;
$menuText: #e0e0e0;

$item: #e0e0e0;

$button: #9a5c5b;
$buttonHighlight: #76323f;

#frontWrapper {
  z-index: 2;
  display: block;
  position: relative;

  #promoWrapper {
    padding-top: 150px;
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img{
      width: auto;
      height: 300px;
    }

    #promoText{
      width: 30vw;
      font-family: Roboto;
      color: $text;
      height: auto;
    }

  }
}

@media screen and (max-width: 800px) {
  #frontWrapper{
    #promoWrapper{
      padding: 50px 0px 100px 0px;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;

      img {
        height: auto;
        width: 100%;
      }

      #promoText {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #frontWrapper{
    #promoWrapper{
      grid-template-rows: auto 1fr;
    }
  }
}
