$background: #fff;
$text: #000;

$banner: #080808;
$bannerText: #e0e0e0;

$menu: #27272b;
$menuText: #e0e0e0;

$item: #e0e0e0;

$button: #9a5c5b;
$buttonHighlight: #76323f;

#productWrapper {
  padding-top: 7vh;
  width: 70%;
  margin: auto;
}

.productContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image name"
  "image price"
  "image stock"
  "image colour"
  "image quantity"
  "image wishlist"
  "image basket";
  column-gap: 20px;
  grid-template-rows: repeat(7, 1fr);
  background: $item;
  margin: auto;
  padding: 25px;

  img {
    grid-area: image;
    width: 100%;
  }

  .productName{
    grid-area: name;
    position: relative;
    font-family: Roboto;
    text-align: left;
    color: $text;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 600;

    text-decoration: none;
  }

  #priceWrapper {
    // display: flex;
    // flex-direction: column;
    grid-area: price;
    font-family: Roboto;
    text-align: left;
    color: $text;

    .label{
      font-size: 14px;
      font-weight: 500;
    }
  }

  #stockWrapper{
    grid-area: stock;
  }

  #colourWrapper {
    // display: flex;
    // flex-direction: column;
    grid-area: colour;
  }

  #quantityWrapper {
    // display: flex;
    // flex-direction: column;
    grid-area: quantity;
  }

  .wishlistBtn {
    display: inline-block;
    position: relative;
    background: red;
    grid-area: wishlist;
    padding: 5px;
    width: 25px;
    height: 25px;
    img {
      width: 25px;
      height: 25px;
      filter: invert(1);
    }
  }
  .wishlistBtn:hover {
    img {
      filter: none;
    }
  }

  #basketBtn {
    grid-area: basket;
    font-size: 16px;
  }

}