$background: #fff;
$text: #000;

$banner: #080808;
$bannerText: #e0e0e0;

$menu: #27272b;
$menuText: #e0e0e0;

$item: #e0e0e0;

$button: #9a5c5b;
$buttonHighlight: #76323f;

#queryWrapper {
  padding-top: 10px;
  width: 100%;
  height: 55px;
  background: #dbdbdb;

  .queryContent {
    max-width: 55%;
    margin: auto;
    color: $text;
    font-family: Roboto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:'search . filter';

    #searchBar{
      grid-area: search;
      height: 40px;
      border-radius: 4px;
      border: none;
      box-shadow: none;
      min-width: 170px;
    }

    #openSortFilter {
      grid-area: filter;
      min-width: 170px;
    }

  }
}

#sortFilterWrapper {
  display: none;
}

#sortFilterWrapper.open{
  position: relative;
  display: block;
  height: auto;
  width: 25%;
  top: 42px;
  background: #dbdbdb;
  overflow-y: scroll;
  overflow-x: hidden;
  float: right;
  font-family: Roboto;

  #sortFilterContent {
    padding: 0px 20px 30px 20px;

    .categoryWrapper {
      padding: 0px 0px 20px 0px;
    }

    h2 {
      font-size: 18px;
      font-weight: semibold;
    }

    .radioDiv{
      padding: 2px 0px;
      font-size: 16px;
    }

    #sortFilterBtn{
      position: sticky;
      width: 100%;
    }

  }
}

@media screen and (max-width: 1020px) {
  #sortFilterWrapper.open{
    width: 30%;
  }
}

@media screen and (max-width:650px) {
  #queryWrapper {
    .queryContent {
      max-width: 90%;
      grid-template-columns: 1fr .25fr 1fr;
      grid-template-areas:'search . filter' !important;

      #searchBar{
        grid-area: search;
        height: 40px;
        border-radius: 4px;
        border: none;
        box-shadow: none;
        min-width: 140px;
      }
  
      #openSortFilter {
        grid-area: filter;
        min-width: 140px;
      }
    }
  }
  #sortFilterWrapper.open{
    width: 35%;
  }
}

@media screen and (max-width: 569px) {
  #sortFilterWrapper.open{
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  #sortFilterWrapper.open{
    width: 100%;
    z-index: 999;
    top: 10px;
  }
}

