$text: #000;
$textlight: #fff;
$textdark: #401C1B;
$textmid: #C2C2C2;

$background: #fcfcfc;

$banner1: #76323F;
$banner1dark: #401C1B;
$banner2dark: #BC9E9B;
$banner2mid: #C7A9A6;
$banner2light: #CCB0AD;
$banner3: #9A5754;

$card: #DADFE5;
$carddark: #C4C4C4;
$cardlight: #E2E2E2;

$buttonmid: #C8ACAC;
$buttondark: #76323F;
$buttonlight: #C09A8F;

body {
  background-color: $background;
  margin: 0;
  left: 0;
  top: 0;
}

#navWrapper {
  width: 100%;
  background: linear-gradient(to right, $banner2dark, $banner2light);
}

nav {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  #logo {
    justify-self: start;
    top: 50%;
    width: 180px;
    height: auto;
    padding: 15px;
  }

  #navMenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;

    li {
      a {
        color: $textdark;
        text-decoration: none;
      }
      a:hover {
        color: $textmid;
        transition: all 0.3 ease-out;
      }
      .emp {
        padding: 6px 15px;
        background-color: #fff;
        border-radius: 4px;
      }
      .emp:hover {
        padding: 5px 15px;
        background-color: green;
        color: white;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #navWrapper {
    position: relative;

    nav{
      width: 100%;

      #navMenu {
        display: grid;
        grid-template-columns: auto !important;
        background: green;
        margin: 0;
        width: 100% !important;
        position: absolute;
        top: 90px;
    /*     left: -100%;
        opacity: 0; */
        transition: all 0.5 ease;

        li{
          a{
            text-align: center;
            line-height: 45px;
            padding:10px;
            width: 100%;
            display: table;
          }
          a:hover{
            background-color: #fff;
            color: #000;
            transition: all 0.3 ease-out;
          }
        }
      }
      #navMenu:active {
        left: 0;
        opacity: 1;
        transition: all 0.5 ease;
      }
    }
  }
}