body {
  background-color: #fff;
  color: #000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: auto;
  padding: 0;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

body .displayNone {
  display: none;
}

body #headerContainer {
  width: 100vw;
  height: 10vh;
  background: -webkit-gradient(linear, left top, right top, from(#C7A9A6), to(#CCB0AD));
  background: linear-gradient(to right, #C7A9A6, #CCB0AD);
}

body #headerContainer #headerContent {
  width: 80vw;
  margin: auto;
  height: 10vh;
  position: relative;
  left: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "brand navi";
  grid-gap: 0px;
}

body #headerContainer #headerContent #brandingContainer {
  width: 100%;
  height: 10vh;
  background-color: #C7A9A6;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: brand;
  z-index: 2;
}

body #headerContainer #headerContent #brandingContainer a {
  text-decoration: none;
  margin: auto;
}

body #headerContainer #headerContent #brandingContainer a #logoContainer {
  height: 80%;
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

body #headerContainer #headerContent #brandingContainer a #logoContainer .column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 5px;
}

body #headerContainer #headerContent #brandingContainer a #logoContainer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #headerContainer #headerContent #brandingContainer a #logoContainer #logo {
  height: 60%;
  width: auto;
  padding-top: 8px;
}

body #headerContainer #headerContent #brandingContainer a #logoContainer #brand {
  height: 60%;
  width: auto;
}

body #headerContainer #headerContent #navContainer {
  width: 100%;
  height: 10vh;
  background-color: #CCB0AD;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navi;
  z-index: 1;
  border: none;
}

body #headerContainer #headerContent #navContainer #navSmall, body #headerContainer #headerContent #navContainer #navFull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

body #headerContainer #headerContent #navContainer #navSmall li, body #headerContainer #headerContent #navContainer #navFull li {
  list-style: none;
  margin: auto;
}

body #headerContainer #headerContent #navContainer #navSmall li a, body #headerContainer #headerContent #navContainer #navFull li a {
  text-decoration: none;
  color: #000;
}

body #headerContainer #headerContent #navContainer #navSmall li a svg, body #headerContainer #headerContent #navContainer #navFull li a svg {
  width: 15px;
  height: 15px;
}

body #headerContainer #headerContent #navContainer #navSmall li a:hover svg, body #headerContainer #headerContent #navContainer #navFull li a:hover svg {
  color: red;
}

@media screen and (max-width: 1120px) {
  #headerContent {
    width: 100vw !important;
  }
  #brandingContainer {
    width: auto !important;
  }
  #logoContainer {
    margin: 0 !important;
    width: 25vw !important;
  }
}
/*# sourceMappingURL=style.css.map */