@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

body {
  background-color: #fff;
  margin: 0;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

.btn {
  color: #e0e0e0;
  background: #9a5c5b;
  font-family: Roboto;
  padding: 9px;
  border-radius: 4px;
  border: none;
}

.btn:hover {
  background: #76323f;
  -webkit-transition: all 0.3 ease-out;
  transition: all 0.3 ease-out;
}

.navBanner {
  background: #9a5c5b;
  width: 100%;
  overflow-x: hidden;
  padding: 5px 0px;
  margin: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e0e0e0;
}

#frontWrapper {
  position: relative;
  background: #e0e0e0;
  top: 100px;
}

#frontWrapper #promoWrapper {
  max-width: 60%;
  margin: auto;
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "image text";
}

#frontWrapper img {
  grid-area: "image";
}

#frontWrapper #promoText {
  padding-top: 50px;
  grid-area: "text";
}

#frontWrapper #promoText a {
  padding: 5px;
  color: #e0e0e0;
  text-decoration: none;
  font-family: Roboto;
  color: transparent;
  font-size: 0;
}

#frontWrapper #promoText h2 {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

#frontWrapper #promoText p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

#navWrapper {
  width: 100%;
  background: #080808;
}

#navWrapper nav {
  width: 100%;
  background: #080808;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr auto 1fr 1fr;
      grid-template-columns: 0.2fr auto 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

#navWrapper nav #logo {
  -ms-grid-column-align: start;
      justify-self: start;
  top: 50%;
  width: 180px;
  height: auto;
  padding: 15px;
}

#navWrapper nav #menuToggle {
  opacity: 0;
  width: 24px;
  height: 24px;
}

#navWrapper nav #navMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  list-style: none;
  text-align: center;
  width: 260px;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

#navWrapper nav #navMenu #Basket::after {
  content: "0";
  color: white;
  position: relative;
  top: -7px;
  font-family: "Roboto";
  left: 1px;
}

#navWrapper nav #navMenu #BasketCounter {
  justify-items: center;
  padding: 5px;
  color: #e0e0e0;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 9px;
  width: 24px;
  height: 24px;
}

#navWrapper nav #navMenu #BasketCounter p {
  position: relative;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  top: 8px;
}

#navWrapper nav #navMenu li .navIcon {
  padding-top: 5px;
}

#navWrapper nav #navMenu li a {
  padding: 5px;
  color: #e0e0e0;
  text-decoration: none;
  font-family: Roboto;
  color: transparent;
  font-size: 0;
}

#navWrapper nav #navMenu li a:hover a:click {
  color: #000;
  -webkit-transition: all 0.3 ease-out;
  transition: all 0.3 ease-out;
}

#navWrapper nav #navMenu li #navCheckout {
  color: #e0e0e0;
  background: #9a5c5b;
  font-family: Roboto;
  padding: 9px;
  border-radius: 4px;
  border: none;
}

#navWrapper nav #navMenu li #navCheckout:hover {
  background: #76323f;
  -webkit-transition: all 0.3 ease-out;
  transition: all 0.3 ease-out;
}

#queryWrapper {
  padding-top: 10px;
  width: 100%;
  height: 55px;
  background: #dbdbdb;
}

#queryWrapper .queryContent {
  max-width: 80vw;
  margin: auto;
  color: #000;
  font-family: Roboto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr .5fr .5fr;
      grid-template-columns: 1fr 1.5fr .5fr .5fr;
      grid-template-areas: 'indicator  .  sort filter';
}

#queryWrapper .queryContent p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: indicator;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 16px;
}

#queryWrapper .queryContent #sort {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sort;
  padding-top: 2px;
}

#queryWrapper .queryContent #sort select {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 4px;
}

#queryWrapper .queryContent #filter {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: filter;
  padding-top: 2px;
}

#queryWrapper .queryContent #filter #filterBtn {
  font-family: Roboto;
  font-size: 14px;
  width: 170px;
  height: 40px;
  margin: auto;
  border: none;
  background: #080808;
  color: #e0e0e0;
  border-radius: 4px;
}

#gridWrapper #grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  max-width: 55%;
  grid-gap: 20px;
  padding-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#gridWrapper #grid .item {
  width: 150px;
  height: 250px;
  background: #e0e0e0;
  padding: 10px;
  margin: auto;
}

#gridWrapper #grid .item .itemImg {
  width: 150px;
  height: 150px;
  padding-bottom: 25px;
}

#gridWrapper #grid .item .itemName {
  font-family: Roboto;
  text-align: left;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

#gridWrapper #grid .item .itemName:hover {
  color: #414141;
}

#gridWrapper #grid .item .itemPrice {
  font-family: Roboto;
  text-align: left;
  color: #000;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

#gridWrapper #grid .item .itemPrice:hover {
  color: #414141;
}

#gridWrapper #grid .item .wishlistBtn {
  padding: 5px;
  position: relative;
  top: -35px;
  left: 46px;
}

#gridWrapper #grid .item .wishlistBtn img {
  width: 25px;
  height: 25px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

#gridWrapper #grid .item .wishlistBtn:hover img {
  -webkit-filter: none;
          filter: none;
}

#gridWrapper #grid .item .basketBtn {
  position: relative;
  top: -42px;
  left: 54px;
  color: #e0e0e0;
  background: #9a5c5b;
  font-family: Roboto;
  padding: 5px;
  border-radius: 4px;
  border: none;
}

#gridWrapper #grid .item .basketBtn:hover, #gridWrapper #grid .item .basketBtn:active {
  background: #76323f;
}

#gridWrapper #grid .item:hover {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

#basketWrapper {
  max-width: 60%;
  margin: auto;
  padding-top: 50px;
}

#basketWrapper .Line {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid black;
}

#basketWrapper #basketTitle {
  width: 100%;
}

#basketWrapper #basketTitle #orderValue {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

#basketWrapper #basketTitle #basketHeader {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

#basketWrapper #basketTitle #shipping {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 58%;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  color: #000;
}

#basketWrapper #basketTitle #basketNav {
  padding: 5px;
}

#basketWrapper #basketTitle #basketNav a {
  color: #000;
  font-family: Arial;
  font-size: 14px;
}

#basketWrapper #basketTable {
  width: 100%;
  margin: auto;
  padding: 30px 0px;
}

#basketWrapper #basketTable th {
  background: #e0e0e0;
  font-size: 13px;
}

#basketWrapper #basketTable tr {
  font-family: 'Roboto';
  font-size: 13px;
}

#basketWrapper #basketTable tr button {
  background: none;
  border: none;
}

#wishlistWrapper {
  max-width: 60%;
  margin: auto;
  padding-top: 50px;
}

#wishlistWrapper .Line {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid black;
}

#wishlistWrapper #wishlistTitle {
  width: 100%;
}

#wishlistWrapper #wishlistTitle #orderValue {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

#wishlistWrapper #wishlistTitle #wishlistHeader {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

#wishlistWrapper #wishlistTitle #shipping {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 58%;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  color: #000;
}

#wishlistWrapper #wishlistTitle #wishlistNav {
  padding: 5px;
}

#wishlistWrapper #wishlistTitle #wishlistNav a {
  color: #000;
  font-family: Arial;
  font-size: 14px;
}

#wishlistWrapper #wishlistTable {
  width: 100%;
  margin: auto;
  padding: 30px 0px;
}

#wishlistWrapper #wishlistTable th {
  background: #e0e0e0;
  font-size: 13px;
}

#wishlistWrapper #wishlistTable tr {
  font-family: 'Roboto';
  font-size: 13px;
}

#wishlistWrapper #wishlistTable tr button {
  background: none;
  border: none;
}

#footerWrapper {
  position: absolute;
  top: 100vh;
  background-color: #080808;
  height: 100px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  #navWrapper {
    position: relative;
  }
  #navWrapper nav {
    width: 90%;
  }
  #navWrapper nav #menuToggle {
    opacity: 1;
    background: transparent;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 85vw;
  }
  #navWrapper nav #navMenu {
    width: 100% !important;
    height: 90.4vh;
    overflow-x: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
    background: #27272b;
    margin: 0;
    position: absolute;
    top: 90px;
    left: -200%;
    opacity: 0;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
  }
  #navWrapper nav #navMenu li a {
    line-height: 45px;
    width: 100%;
    display: table;
    font-size: 16px;
    color: #e0e0e0;
    padding-top: 5vh;
  }
  #navWrapper nav #navMenu.active {
    left: -40px;
    opacity: 0.90;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
  }
  #gridWrapper #grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #basketWrapper {
    max-width: 70%;
    margin: auto;
  }
  #wishlistWrapper {
    max-width: 70%;
    margin: auto;
  }
  #frontWrapper {
    max-width: 70%;
  }
}

@media screen and (max-width: 650px) {
  #queryWrapper .queryContent {
    max-width: 90%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'sort filter' !important;
  }
  #queryWrapper p {
    display: none;
  }
  #queryWrapper #sort {
    width: 100%;
    margin: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #queryWrapper #sort select {
    max-width: 170px;
    max-height: 40px;
    width: 100% !important;
    height: 100% !important;
    margin: auto;
  }
  #queryWrapper #filter {
    width: 100%;
    margin: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #queryWrapper #filter #filterBtn {
    max-width: 170px;
    max-height: 40px;
    width: 100% !important;
    height: 100% !important;
    margin: auto;
  }
  #gridWrapper #grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #frontWrapper {
    max-width: 80%;
  }
}

@media screen and (max-width: 450px) {
  #gridWrapper #grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #basketWrapper {
    max-width: 90%;
    margin: auto;
  }
  #wishlistWrapper {
    max-width: 90%;
    margin: auto;
  }
  #frontWrapper {
    max-width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */