$background: #fff;
$text: #000;

$banner: #080808;
$bannerText: #e0e0e0;

$menu: #27272b;
$menuText: #e0e0e0;

$item: #e0e0e0;

$button: #9a5c5b;
$buttonHighlight: #76323f;

@viewport {
  width: device-width;
  zoom: 1.0
}

body {
  background-color: $background;
  margin: 0;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

.btn {
  color: $menuText;
  background: $button;
  font-family: Roboto;
  padding: 9px;
  border-radius: 4px;
  border: none;
}

.btn:hover{
  background: $buttonHighlight;
  transition: all 0.3 ease-out;
}

.navBanner {
  background: $button;
  width: 100%;
  overflow-x: hidden;
  padding: 5px 0px;
  margin: auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $bannerText;
}

#frontWrapper {
  position: relative;
  background: $item;
  top: 100px;

  #promoWrapper {
    max-width: 60%;
    margin: auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image text";
  }
  img {
    grid-area: "image";
  }
  #promoText {
    padding-top: 50px;
    grid-area: "text";

    a{
      padding: 5px;
      color: #e0e0e0;
      text-decoration: none;
      font-family: Roboto;
      color: transparent;
      font-size: 0;
    }

    h2 {
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 26px;
      line-height: 26px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 100;
      font-size: 14px;
      line-height: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000;
    }
  }
}

#navWrapper {
  width: 100%;
  background: $banner;

  nav {
    width: 100%;
    background: $banner;
    display: grid;
    // grid-template-columns: 0.2fr auto 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: 90%;
    margin: 0 auto;

    #logo {
      justify-self: start;
      top: 50%;
      width: 180px;
      height: auto;
      padding: 15px;
    }

    #products {
      display: grid;
      grid-template-columns: repeat(3, auto);
      list-style: none;
      width: 225px;
      justify-self: start;

      li {

        a {
          text-decoration: none;
          color: $bannerText;
          font-family: Roboto;
          font-size: 14px;
        }
      }
    }

    #menuToggle {
      opacity: 0;
      width: 24px;
      height: 24px;
    }

    #navMenu {
      display: grid;
      // grid-template-columns: repeat(6, auto);
      grid-template-columns: repeat(5, auto);
      list-style: none;
      text-align: center;
      width: 260px;
      justify-self: end;
      padding-inline-start: 0px;

      #Basket::after {
        content: "0";
        color: white;
        position: relative;
        top: -7px;
        font-family: "Roboto";
        left: 1px;
      }

      #basketCounterWrapper {
        justify-items: center;
        padding: 5px;
        color: $bannerText;
        font-family: "Roboto";
        font-size: 18px;
        line-height: 9px;
        width: 24px;
        height: 24px;
        p {
          position: relative;
          margin-block-start: 0px;
          margin-block-end: 0px;
          top: 8px;
        }
      }

      li {

        .navIcon{
          padding-top: 5px;
        }

        a {
          padding: 5px;
          color: $bannerText;
          text-decoration: none;
          font-family: Roboto;
          color: transparent;
          font-size: 0;
        }

        a:hover a:click{
          color: $text;
          transition: all 0.3 ease-out;
        }

        #navCheckout {
          color: $menuText;
          background: $button;
          font-family: Roboto;
          padding: 9px;
          border-radius: 4px;
          border: none;
        }

        #navCheckout:hover {
          background: $buttonHighlight;
          transition: all 0.3 ease-out;
        }
      }
    }
  }
}

#queryWrapper {
  padding-top: 10px;
  width: 100%;
  height: 55px;
  background: #dbdbdb;

  #status {
    text-transform: capitalize;
  }
  
  .queryContent {
    max-width: 80vw;
    margin: auto;
    color: $text;
    font-family: Roboto;
    display: grid;
    grid-template-columns: 1fr 1.5fr .5fr .5fr;
    grid-template-areas:'indicator  .  sort filter';


    p {
      grid-area: indicator;
      align-self: flex-start;
      font-size: 16px;
    }

    #sort {
      grid-area: sort;
      padding-top: 2px;
      select {
        width: 170px;
        height: 40px;
        border: none;
        border-radius: 4px;
      }
    }

    #filter {
      grid-area: filter;
      padding-top: 2px;
      #filterBtn{
        font-family: Roboto;
        font-size: 14px;
        width: 170px;
        height: 40px;
        margin: auto;
        border: none;
        background: $banner;
        color: $menuText;
        border-radius: 4px;
      }
    }
  }
}

#gridWrapper {

  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    max-width: 55%;
    grid-gap: 20px;
    padding-top: 40px;

    justify-content: center;
    align-content: center;

    .item {
      width: 150px;
      height: 250px;
      background: $item;
      padding: 10px;
      margin: auto;

      .itemImg {
        width: 150px;
        height: 150px;
        padding-bottom: 25px;
      }

      .itemName {
        font-family: Roboto;
        text-align: left;
        color: $text;
        font-size: 15px;
        font-weight: 600;

        text-decoration: none;
      }
      .itemName:hover {
        color: #414141;
      }

      .itemPrice {
        font-family: Roboto;
        text-align: left;
        color: $text;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
      }
      .itemPrice:hover {
        color: #414141;
      }

      .wishlistBtn {
        padding: 5px;
        position: relative;
        top: -35px;
        left: 46px;
        img {
          width: 25px;
          height: 25px;
          filter: invert(1);
        }
      }
      .wishlistBtn:hover {
        img {
          filter: none;
        }
      }

      .basketBtn {
        position: relative;
        top: -42px;
        left: 54px;

        color: $menuText;
        background: #9a5c5b;
        font-family: Roboto;
        padding: 5px;
        border-radius: 4px;
        border: none;
      }
      .basketBtn:hover, .basketBtn:active {
        background: $buttonHighlight
      }

    }

    .item:hover {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }

  }


}

#basketWrapper {
  max-width: 60%;
  margin: auto;
  padding-top: 50px;

  .Line {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid black;
  }

  #basketTitle {
    width: 100%;

    #orderValue {
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 16px;
      line-height: 17px;

      display: flex;
      align-items: center;

      color: $text;
    }

    #basketHeader {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 100;
      font-size: 14px;
      line-height: 15px;

      display: flex;
      align-items: center;

      color: $text;
    }

    #shipping {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 100;
      font-size: 11px;
      line-height: 15px;
      text-align: right;

      display: flex;
      position: absolute;
      left: 58%;
      align-items: right;

      color: $text;
    }

    #basketNav {
      padding: 5px;
      a {
        color: $text;
        font-family: Arial;
        font-size: 14px;
      }
    }
  }

  #basketTable {
    width: 100%;
    margin: auto;
    padding: 30px 0px;

    th {
      background: $item;
      font-size: 13px;
    }

    tr {
      font-family: 'Roboto';
      font-size: 13px;

      button {
        background: none;
        border: none;
      }
    }
  }
}

#wishlistWrapper {
  max-width: 60%;
  margin: auto;
  padding-top: 50px;

  .Line {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid black;
  }

  #wishlistTitle {
    width: 100%;

    #orderValue {
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 16px;
      line-height: 17px;

      display: flex;
      align-items: center;

      color: $text;
    }

    #wishlistHeader {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 100;
      font-size: 14px;
      line-height: 15px;

      display: flex;
      align-items: center;

      color: $text;
    }

    #shipping {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 100;
      font-size: 11px;
      line-height: 15px;
      text-align: right;

      display: flex;
      position: absolute;
      left: 58%;
      align-items: right;

      color: $text;
    }

    #wishlistNav {
      padding: 5px;
      a {
        color: $text;
        font-family: Arial;
        font-size: 14px;
      }
    }
  }

  #wishlistTable {
    width: 100%;
    margin: auto;
    padding: 30px 0px;

    th {
      background: $item;
      font-size: 13px;
    }

    tr {
      font-family: 'Roboto';
      font-size: 13px;

      button {
        background: none;
        border: none;
      }
    }
  }
}

#footerWrapper {
  position: absolute;
  top: 100vh;
  background-color: $banner;
  height: 100px;
  width: 100%;
}


@media screen and (max-width: 800px) {
  #navWrapper {
    position: relative;

    nav{
      width: 90%;

      #products {
        display: grid;
        grid-template-columns: repeat(1, auto);
        list-style: none;
        width: 100px;
        justify-self: start;
      }

      #menuToggle {
        opacity: 1;
        background:transparent;
        border:none;
        outline:none;
        display:block;
        cursor:pointer;
        position: absolute;
        left: 85vw;
      }

      #navMenu {
        width: 100% !important;
        height: 90.4vh;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: auto !important;
        background: $menu;
        margin: 0;
        position: absolute;
        top: 90px;
        left: -200%;
        opacity: 0;
        transition: all 0.5 ease;

        li{
          a{
            line-height: 45px;
            width: 100%;
            display: table;
            font-size: 16px;
            color: $menuText;
            padding-top: 5vh;
          }
        }
      }

      #navMenu.active {
        left: -40px;
        opacity: 0.90;
        transition: all 0.5 ease;
      }
    }
  }

  #gridWrapper {
    #grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  #basketWrapper {
    max-width: 70%;
    margin: auto;
  }

  #wishlistWrapper {
    max-width: 70%;
    margin: auto;
  }

  #frontWrapper {
    max-width: 70%;
  }
}

@media screen and (max-width:650px) {
  #queryWrapper {
    .queryContent {
      max-width: 90%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:'sort filter' !important;
    }
    p {
      display: none;
    }
    #sort {
      width: 100%;
      margin: auto;
      align-self: center;
      justify-self: center;

      select {
        max-width: 170px;
        max-height: 40px;
        width:100% !important;
        height: 100% !important;
        margin: auto;
      }
    }
    #filter {
      width: 100%;
      margin: auto;
      align-self: center;
      justify-self: center;

      #filterBtn{
        max-width: 170px;
        max-height: 40px;
        width:100% !important;
        height: 100% !important;
        margin: auto;
      }
    }
  }

  #gridWrapper {
    #grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  #frontWrapper {
    max-width: 80%;
  }
}

@media screen and (max-width: 450px) {
  #gridWrapper {
    #grid {
      grid-template-columns: 1fr;
    }
  }

  #products {
    display: grid;
    grid-template-columns: repeat(1, auto);
    list-style: none;
    width: 100px;
    justify-self: start;
    padding-inline-start: 0px;
  }

  #basketWrapper {
    max-width: 90%;
    margin: auto;
  }

  #wishlistWrapper {
    max-width: 90%;
    margin: auto;
  }

  #frontWrapper {
    max-width: 90%;
  }
}
