<main>
    <div class="bigItemContainer">
        <article class="littleItemContainer">
            <section class="littleItemContent">
                <img class="littleItemImg">
                <h1 class="littleItemName"></h1>
                <p class="littleItemPrice"></p>
                <button class="wishlist"><svg></svg></button>
                <button class="addToBasketSmall"></button>
            </section>
        </article>
        <article class="extraContainer">
            <div class="stock">
                <label id="amountLabel" for="amountInput">Amount</label>
                <input type="number" name="amount" id="amountInput">
            </div>
            <div class="colour">
                <label id="colourLabel" for="colourInput">Colour</label>
                <input type="number" name="colour" id="colourInput">
            </div>
            <p id="Stock">Stock Amount</p>
            <button class="addToBasketBig"></button>
        </article>
    </div>
</main>