<section id="heroContainer">

  <article id="heroContent">
    <div id="galContent1" class="galItem"></div>
    <div id="galContent2" class="galItem hidden"></div>
    <div id="galContent3" class="galItem hidden"></div>
    <div id="galContent4" class="galItem hidden"></div>
  </article>

  <div id="galIndicator">
    <ol id="indRadio">
        <li id="ind1" class="ind">
          <input type="radio" id="indRadio1" class="radio" name="galRadio" value="1">
        </li>
        <li id="ind2" class="ind">
          <input type="radio" id="indRadio2" class="radio" name="galRadio" value="2">
        </li>
        <li id="ind3" class="ind">
          <input type="radio" id="indRadio3" class="radio" name="galRadio" value="3">
        </li>
        <li id="ind4" class="ind">
          <input type="radio" id="indRadio4" class="radio" name="galRadio" value="4">
        </li>
    </ol>
  </div>

</section>