html, body {
  background-color: #fff;
  color: #000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: auto;
  padding: 0;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  display: none;
}

html .splash, body .splash {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 200;
  color: #000;
  text-align: left;
  display: block;
}

html .displayNone, body .displayNone {
  display: none;
}

html header, body header {
  width: 100%;
}

html header #topBarContainer, body header #topBarContainer {
  height: 45px;
  min-width: 100vw;
  position: relative;
  left: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 3fr;
      grid-template-columns: 1fr 2fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "logo brand navi";
  grid-gap: 0px;
}

html header #topBarContainer #navBarContainer, body header #topBarContainer #navBarContainer {
  height: 51px;
  width: 100%;
  background-color: #CCB0AD;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: navi;
  z-index: 1;
  border: none;
  -webkit-box-shadow: 0px 4px 0px #0000001e;
          box-shadow: 0px 4px 0px #0000001e;
}

html header #topBarContainer #brandContainer, body header #topBarContainer #brandContainer {
  height: 51px;
  width: 100%;
  background-color: #C7A9A6;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: brand;
  z-index: 2;
  -webkit-box-shadow: 0px 4px 0px #0000001e;
          box-shadow: 0px 4px 0px #0000001e;
}

html header #topBarContainer #brandContainer svg, body header #topBarContainer #brandContainer svg {
  display: block;
  margin: auto;
  padding-top: 8px;
}

html header #topBarContainer #logoContainer, body header #topBarContainer #logoContainer {
  background-color: #BC9E9B;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  height: 51px;
  width: 100%;
  z-index: 3;
  -webkit-box-shadow: 0px 4px 0px #0000001e;
          box-shadow: 0px 4px 0px #0000001e;
}

html header #topBarContainer #logoContainer svg, body header #topBarContainer #logoContainer svg {
  display: block;
  margin: auto;
  padding-top: 11px;
}

html header #menuBarContainer, body header #menuBarContainer {
  min-width: 100%;
  height: 35px;
  margin-top: 5px;
  background-color: #76323F;
}

html header #menuBarContainer #menuItems, body header #menuBarContainer #menuItems {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html header #menuBarContainer #menuItems li, body header #menuBarContainer #menuItems li {
  text-decoration: none;
  padding-top: 7px;
}

html header #menuBarContainer #menuItems li a, body header #menuBarContainer #menuItems li a {
  color: #C2C2C2;
  font-size: 12px;
  font-family: Roboto;
}

html header #menuBarContainer #menuItems.vScroll, body header #menuBarContainer #menuItems.vScroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}
/*# sourceMappingURL=style.css.map */