<nav class="navbar">
  <a href="index.html"><img id="logo" alt="Code Blocks Logo" title="logo" src="./content/branding/fullLogo.svg"></a>
  <p id="loggedInAs"></p>
  <button id="menuToggle"><img alt="Mobile menu toggle" title="Mobile menu toggle" src="./content/icons/list.svg" width="24" height="24"></button>
  <ul id="navMenu">
    <li class="navLink">
      <a href="catalogue.html" class="Browse"><img class="navIcon" alt="browse" title="browse" src="./content/icons/loupe.svg" width="24" height="24">Browse</a>
    </li>
    <li class="navLink">
      <a href="account.html" class="Account"><img class="navIcon" alt="account" title="account" src="./content/icons/user.svg" width="24" height="24">Account</a>
    </li>
    <li class="navLink">
      <a href="wishlist.html" class="Wishlist"><img class="navIcon" alt="wishlist" title="wishlist" src="./content/icons/heart.svg" width="24" height="24">Wishlist</a>
    </li>
    <li class="navLink">
      <a href="basket.html" class="Basket"><img class="navIcon" alt="basket" title="basket" src="./content/icons/cart.svg" width="24" height="24">Basket</a>
    </li>
    <li class="navLink">
      <a href="basket.html" class="Checkout"><button id="navCheckout">CHECKOUT</button></a>
    </li>
  </ul>
</nav>