<nav class="navbar">
  <a href="index.html"><img id="logo" alt="Code Blocks Logo" title="logo" src="./content/branding/fullLogo.svg"></a>
  <img id="menuToggle" alt="Mobile menu toggle" title="Mobile menu toggle" src="./content/icons/list.svg" width="24" height="24">
  <ul id="navMenu">
    <li><a href="catalogue.html" class="Browse">Browse</a></li>
    <li><a href="account.html" class="Account">Account</a></li>
    <li><a href="wishlist.html" class="Wishlist">Wishlist</a></li>
    <li><a href="basket.html" class="Basket">Basket</a></li>
    <li><a class="emp" href="basket.html" class="Checkout">Checkout</a></li>
  </ul>
</nav>