<nav class="navbar">
  <a href="index.html"><img id="logo" alt="Code Blocks Logo" title="logo" src="./content/branding/fullLogo.svg"></a>
  <ul id="products">
    <li id="all" class="productMenu"><a href="/catalogue.html?cat=product"> All Products </a></li>
    <li id="brick" class="productMenu"><a href="/catalogue.html?cat=brick"> Bricks </a></li>
    <li id="kit" class="productMenu"><a href="/catalogue.html?cat=kit"> Kits and Sets </a></li>
  </ul>
  <p id="loggedInAs"></p>
  <button id="menuToggle"><img alt="Mobile menu toggle" title="Mobile menu toggle" src="./content/icons/list.svg" width="24" height="24"></button>
  <ul id="navMenu">
    <!-- <li class="navLink">
      <input id="staffMode" type="checkbox">
      <label> Staff Mode </label>
    </li> -->
    <li class="navLink">
      <a href="account.html" class="Account"><img class="navIcon" alt="account" title="account" src="./content/icons/user.svg" width="24" height="24">Account</a>
    </li>
    <li class="navLink">
      <a href="wishlist.html" class="Wishlist"><img class="navIcon" alt="wishlist" title="wishlist" src="./content/icons/heart.svg" width="24" height="24">Wishlist</a>
    </li>
    <li class="navLink">
      <a href="basket.html" class="Basket"><img class="navIcon" alt="basket" title="basket" src="./content/icons/cart.svg" width="24" height="24">Basket</a>
    </li>
    <li id="basketCounterWrapper" class="navLink">
      <p id="basketCounter" > 0 </p>
    </li>
    <li class="navLink">
      <a href="basket.html" class="Checkout"><button id="navCheckout">CHECKOUT</button></a>
    </li>
  </ul>
</nav>