<div class="queryContent">
    <p id="status">All Products</p>
        <div id="sort">
            <select name="sort" id="sortDropdown" autofocus="sort">
                <option value="sort">Sort By...</option>
                <option value="alphabetical">Alphabetical</option>
                <option value="lowtohigh">Price: Low to High</option>
                <option value="hightolow">Price: High to Low</option>
            </select>
        </div>
        <div id="filter">
            <button id="filterBtn">FILTER</button>
            <ul class="filterSettings">
                <!-- Dynamically fill this -->
            </ul>
        </div>
    </div>
</div>