<h1 class="navBanner">Catalogue</h1>
<div class="queryContent">
    <input id="searchBar" type="search" placeholder="Search">
    <div id="sort">
        <select name="sort" id="sortDropdown" autofocus="ABC">
            <option value="sort">Sort By...</option>
            <option value="ABC">Alphabetical</option>
            <option value="CBA">Reverse Alphabetical</option>
            <option value="PASC">Price: Low to High</option>
            <option value="PDES">Price: High to Low</option>
            <option value="CASC">Category, A-Z</option>
            <option value="CDESC">Category, Z-A</option>
        </select>
    </div>
    <div id="filter">
        <button id="filterBtn">FILTER</button>
        <ul class="filterSettings">
            <!-- Dynamically fill this -->
        </ul>
    </div>
</div>